body{
    background-image: url("../media/butterfly-g72d828688_1280.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    .cenever{
        width: fit-content;
        padding: 20px;
        align-items: center;
        h1{
            text-transform:uppercase;
            color: white;
        }
        p{
            color: white;
        }
        img{
            width: 100%;
        }
        background-color: rgba(0, 0, 0, 0.676);
    }
    .profile{
        position: absolute;
        top: 5px;
        left: 5px;
        width: 80px;
        border-radius: 50%;
        border: solid 2px white;
    }
    

}